h3 {
    text-align: center;
    display: table; 
     width: 100%;
     color: rgb(228, 228, 10);
}
h3 > span, h3:before, h3:after {
    display: table-cell;
}
h3:before, h3:after {
    background: url(http://dummyimage.com/2x1/f0f/fff&text=+) repeat-x center;
    width: 50%;
    content: '';
}
.category,.brands{
    padding-left: 10%;
    width: 100%;
}
.p-range{
    display: flex;
    justify-content: center;
}
.p-range input{
    position: absolute;
}

p{
    margin: 30px;
}
img{
    margin: 5%;
    margin-top: 10%;
    display: flex;
    height: 200px;
    
}

.slider-input{
    display: flex;

}
.slider-input input{
    margin: 10px;
}