
<div class="login-box">
    <div class="tp">
        <h1>Create Account</h1>
    </div>
    <div class="u-p">
        <input type="text" placeholder="Enter Username" style="padding: 5px; margin: 10px;" #uname>
        <input type="password" placeholder="Create Password" style="padding: 5px; margin: 10px;" #pword>
    </div>

    <span style="text-align: center; margin: 5px;">Already have an account?<a routerLink="">Login</a></span>
    <button type="submit" style="padding:10px ;  margin: 5px;" (click)="addUser(uname,pword)">Submit</button>
    
</div>