<div style="padding:5%; background-color:rgb(237, 233, 233)">
    <div class="b-top">
        <div style="max-width:180px; margin: 20px;" >
            <h2>E-SHOPPER</h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eos sit ab rem dolor accusantium!</p>      
        </div>
        <div class="imgs">
            <div style="margin:20px ;">
                <img style="width:150px ;" src="/assets/photos/girl-1.jpeg" alt="girl-1 image">
                <h4 style="text-align:center;">Circle of Hindus</h4>
                <p style="text-align:center;">24 DEC 2014</p>
            </div>
            <div style="margin:20px ;"> 
                <img style="width:150px ;" src="/assets/photos/girl-2.jpeg" alt="girl-2 image">
                <h4 style="text-align:center;">Circle of Hindus</h4>
                <p style="text-align:center;">24 DEC 2014</p>
            </div>
           <div style="margin:20px ;">
                <img style="width:150px ;" src="/assets/photos/girl-3.jpeg" alt="girl-3 image">
                <h4 style="text-align:center;">Circle of Hindus</h4>
                <p style="text-align:center;">24 DEC 2014</p>
           </div>
           <div style="margin-left:20px ;">
            <img style="width:300px ;" src="/assets/photos/world-map.jpeg" alt="world map">
           </div>
            
            
        </div>
    </div>
    <div class="b-bottom">
        <div style="margin:20px ;" class="service">
            <h3>SERVICE</h3>
            <a href="#">Online Help</a><br>
            <a href="#">Contact Us</a><br>
            <a href="#">Order Status</a><br>
            <a href="#">Change Location</a><br>
            <a href="#">FAQ's</a>
        </div>
        <div style="margin:20px ;" class="quick-shop">
            <h3>QUICK SHOP</h3>
            <a href="#">T-shirt</a><br>
            <a href="#">Mens</a><br>
            <a href="#">Women</a><br>
            <a href="#">Gift Cards</a><br>
            <a href="#">Shoes</a>
        </div>
        <div style="margin:20px ;" class="policies">
            <h3>POLICIES</h3>
            <a href="#">Terms of Use</a><br>
            <a href="#">Privacy Policy</a><br>
            <a href="#">Refund Policy</a><br>
            <a href="#">Billing System</a><br>
            <a href="#">Ticket System</a></div>
        <div style="margin:20px ; margin-left: 40px;" class="about-shopper">
            <h3>ABOUT SHOPPER</h3>
            <a href="#">Company information</a><br>
            <a href="#">Careers</a><br>
            <a href="#">Store Location</a><br>
            <a href="#">Affiliate Program</a><br>
            <a href="#">Copyright</a></div>
        <div style="margin:20px ;margin-left: 40px;" class="email">
            <h3>ABOUT SHOPPER</h3>
            <input style="padding: 5px;" type="email" name="email" id="email" placeholder="Your Email Address">
            <button class="email-address"><i class="fa-solid fa-arrow-right-to-arc"></i></button>
            <br>
            <p style="width:180px ;">Get the most recent updates from our site and get update yourself</p>
            
        </div>
    </div>
</div>
